.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* navbar */
.navbar {
  background-color: rgba(var(--tmdbDarkBlue), 1);
}

.brand {
  color: #93e4c1;
}

.brand:hover {
  color: #93e4c1;
}

.nav-link {
  color: #93e4c1 !important;
}

.navbar-toggler {
  background-color: #93e4c1;
  border: none;
}

/* poster */
#herosection,
#searchSection {
  margin-bottom: 50px;
}

:root {
  --tmdbDarkBlue: 3, 37, 65;
}


#poster {
  background-image: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.8) 0%, rgba(var(--tmdbDarkBlue), 0) 100%), url("./images/posterImg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 100%;
  height: 350px;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 70px;

}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 70px;
}

#poster h2 {
  font-size: 3rem;
  line-height: 1;
}

#poster h3 {
  font-size: 2rem;
  margin: 0;
}



.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;

}

.inputText {
  width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}


/* .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 650px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.card {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;

  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card img {
  width: 100%;
  height: 100%;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);

}

.descriptions p {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card:hover .descriptions {
  left: 0px;

  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}

.card:hover .descriptions h5 {
  text-align: center;
}

.card:hover {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
  transform: scale(.97);
}

.card:hover img {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.card h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}

.card p {
  line-height: 24px;
  height: 70%;
}

.card button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
  transition: all .5s ease-in-out;
}

.card button:hover {
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}

@media screen and (max-width:576px) {
  #poster {
    background-image: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.8) 0%, rgba(var(--tmdbDarkBlue), 0) 100%), url("./images/posterImg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;

  }

  #poster h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;

  }

  #poster h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;

  }

  .descriptions h5 {
    font-size: 0.7rem;
  }

  .descriptions p {
    font-size: 0.7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}